.tiny-swiper {
  --height: auto;
  --width: 100%;
  --border-radius: 0;
  --track-padding: 0;

  width: var(--width);
  height: var(--height);
  position: relative;
  touch-action: pan-y;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 0;

  &-track {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: var(--track-padding);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    &-inner {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
  }

  &-slide {
    width: 100%;
    display: block;
    position: relative;
    flex-shrink: 0;
    white-space: unset;
  }

  &-indicator {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
  }
}
